body{

background:#111;
color:white;
font-family:Arial;
text-align:center;

}

.roles{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
margin:20px;

}

.role{

padding:15px 20px;
font-size:16px;
border:none;
border-radius:10px;
background:#333;
color:white;
cursor:pointer;

}

.role.selected{

background:#ff4444;

}

.start{

padding:20px;
font-size:22px;
border:none;
border-radius:10px;
background:#00aa55;
color:white;
cursor:pointer;


}

.timer{
font-size:60px;
font-weight:bold;
text-align:center;
margin-top:20px;
color:white;
background:#111;
padding:20px;
border-radius:10px;
width:200px;
margin-left:auto;
margin-right:auto;
font-family:monospace;
}
